@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.component-container {

  > div {
    background-color: #3d3d3d;
  }

  h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    color: #E74646;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 1rem;
  }

  a {
    font-family: 'Orbitron', sans-serif;
    color: #000;
    padding: .2rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: #E74646;
    transition: .5s;

      &:hover {
        background-color: darkred;
        cursor: pointer;
        border-radius: 15px;
      }

  }

  h2 {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
